html{
    background-color: rgb(135, 189, 236);
    
}

header{
display: grid;
grid-template-rows: max-content;
grid-template-columns: 5fr 10fr 1fr 1fr;

}

nav{
    display: flex;  
    flex-direction: column;
    position: fixed;
    visibility: hidden; alterar
}

.compras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}